body {
	margin: 10px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 14px;
    font-family: monospace;
}

.encabezado {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#index-top {
	display: flex;
	justify-content: space-between;

	border: 2px solid grey;
}

.searching {
	display: flex;
	align-items: center;
}

.titulo-logo {
	display: flex;
	align-items: center;

	border: 2px solid black;
}

.buy {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	border: 2px solid black;
}

.acount {
	padding-bottom: 10px;
}

.list-nav {
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
	border: none;
	list-style: none;

	display: flex;
	justify-content: center;
}

.list-nav a {
	color: white;
}