body {
	background-color: lightblue;

}

section {
	border: 2px solid black;
	width: 1000px;

	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.navega {

	padding: 5px;

	background-color: grey;
	border: 2px solid yellow;

	display: flex;
	justify-content: center;

}

a {
	text-decoration: none;
	color: black;
}

.contenido {
	height: 100vh;

	display: flex;
	align-content: center;
	flex-direction: row;
	justify-content: space-between;
	background-color: violet;


}

.center {
	border: 3px solid black;
	margin: 0px;
	padding: 0px;

}

.left {
	border: 3px solid black;
	margin: 0px;
	padding: 0px;
}

.right {
	border: 3px solid black;
	margin: 0px;
	padding: 0px;
}

#contenido-principal {
	display: flex;
	align-content: center;